<h1>
Včera v neděli
</h1>
<p>
S něžnou opatrností prdím<br>
abych se neposral<br>
Včerejší den<br>
krom toho že jsem měl fazolovou polívku<br>
se nevyznačoval ničím
</p>
<p>
Včera v neděli<br>
hrozně mě svrbělo v prdeli<br>
Bylo to od toho<br>
že jsem žral tak mnoho
</p>
